body {
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 600px;
}

div#header {
    border-bottom: 2px solid #C3E5DD;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#header #navigation {
    text-align: right;
}

div#logo a{
    float: left;
}

div#logo{
    margin-bottom: 6px;
}

div#logo a,
div#header #navigation a {
    color: #363636;
    font-size: 18px;
    padding: 6px;
    text-decoration: none;
    text-transform: capitalize;
}

div#logo a:hover,
div#header #navigation a:hover{
   background-color: #C3E5DD;
   color: #fff; 
}

div#footer {
    border-top: solid 2px #C3E5DD;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
